# Cleaning and merging data for race datasets from 2013-2022 except 2018

- Combine data from 2013-2022.
- Isolate data for District 7.
- Calculate total population per census tract.
- Determine racial percentages within each tract.
- Add a 'Year' column to the dataset.
- Assign unique identifiers to duplicate names within each year.

In [5]:
import pandas as pd
import os
from collections import defaultdict

# All years except 2018
years = [year for year in range(2013, 2023) if year != 2018]

# Initialize an empty list to hold the results
all_results = []

def add_duplicate_numbering(labels,year):
    label_counts = defaultdict(int)
    modified_labels = []
    for label in labels:
        base_label = label.strip()
        label_counts[base_label] += 1
        if label_counts[base_label] > 1:
            modified_labels.append(f"{base_label} {label_counts[base_label]}")
        else:
            modified_labels.append(base_label)
    return modified_labels

for year in years:
    file_name = f"{year}.csv"
    file_path = os.path.join(file_name)
    
    print(f"Reading data from {file_path}...")
    try:
        # preserve the original order
        df = pd.read_csv(file_path, encoding='utf-8')
        
    except Exception as e:
        print(f"Error reading file {file_name}: {str(e)}")
        continue

    # adding year as column
    df['year'] = year
    
    # Getting all columns with 'Estimate' name in it 
    estimate_cols = [col for col in df.columns if 'Estimate' in col]

    results = []
    
    # Get total population for % calculation
    total_pop_row = df[df['Label (Grouping)'].str.strip() == "Total population"].iloc[0]
    total_pop = sum(
        float(str(total_pop_row[col]).replace(',', ''))
        for col in estimate_cols
        if pd.notna(total_pop_row[col])
    )
    
    # Process each row in original order
    for idx, row in df.iterrows():
        label = row['Label (Grouping)']
        
        # adding all estimates from each census tract as total
        total_estimate = 0
        for col in estimate_cols:
            try:
                value = str(row[col]).replace(',', '')
                if pd.notna(value):
                    total_estimate += float(value)
            except (ValueError, TypeError):
                continue
        
        # Calculate percentage
        if total_pop > 0 and total_estimate > 0:
            percentage = (total_estimate / total_pop * 100)
        else:
            percentage = 0
            
        # Append results
        results.append({
            'year': year,
            'label': label,
            'total_estimate': round(total_estimate, 1),
            'percentage': round(percentage, 1)
        })
    
    # result dataframe
    result_df = pd.DataFrame(results)
    all_results.append(result_df)

# Combined_df for all results
combined_df = pd.concat(all_results, ignore_index=True)

# Add numbering to duplicate labels for each year
combined_df['label'] = combined_df.groupby('year')['label'].transform(lambda x: add_duplicate_numbering(x, combined_df['year'].unique()))


# Preserve the original order of labels within each year
combined_df = combined_df.sort_values(['year', 'label'], key=lambda x: combined_df.index)

# Save csv file for the filtered/combined dataset to the folder
output_file = 'census_analysis_results.csv'
combined_df.to_csv(output_file, index=False)

combined_df.head(15)

Reading data from 2013.csv...
Reading data from 2014.csv...
Reading data from 2015.csv...
Reading data from 2016.csv...
Reading data from 2017.csv...
Reading data from 2019.csv...
Reading data from 2020.csv...
Reading data from 2021.csv...
Reading data from 2022.csv...

    year             label  total_estimate  percentage
0   2013       SEX AND AGE             NaN         0.0
1   2013  Total population        119453.0       100.0
2   2013              Male         57830.0        48.4
3   2013            Female         61623.0        51.6
4   2013     Under 5 years          6284.0         5.3
5   2013      5 to 9 years          5472.0         4.6
6   2013    10 to 14 years          5274.0         4.4
7   2013    15 to 19 years         15655.0        13.1
8   2013    20 to 24 years         21160.0        17.7
9   2013    25 to 34 years         20168.0        16.9
10  2013    35 to 44 years         12646.0        10.6
11  2013    45 to 54 years         12651.0        10.6
12  2013    55 to 59 years          5334.0         4.5
13  2013    60 to 64 years          4982.0         4.2
14  2013    65 to 74 years          5243.0         4.4

### Checking for data based on particular year

In [8]:
# Sample data check for specific year
year_sample = combined_df[combined_df['year'] == years[8]]
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
print(year_sample)

     year                                              label  total_estimate  \
724  2022                                        SEX AND AGE             NaN
725  2022                                   Total population        145022.0
726  2022                                               Male         66982.0
727  2022                                             Female         78040.0
728  2022                  Sex ratio (males per 100 females)          4133.0
729  2022                                      Under 5 years          6231.0
730  2022                                       5 to 9 years          5935.0
731  2022                                     10 to 14 years          6604.0
732  2022                                     15 to 19 years         15784.0
733  2022                                     20 to 24 years         20471.0
734  2022                                     25 to 34 years         28505.0
735  2022                                     35 to 44 years         16070.0
736  2022                                     45 to 54 years         13921.0
737  2022                                     55 to 59 years          7741.0
738  2022                                     60 to 64 years          7396.0
739  2022                                     65 to 74 years         10056.0
740  2022                                     75 to 84 years          4582.0
741  2022                                  85 years and over          1726.0
742  2022                                 Median age (years)          1503.6
743  2022                                     Under 18 years         22943.0
744  2022                                  16 years and over        124861.0
745  2022                                  18 years and over        122079.0
746  2022                                  21 years and over        104897.0
747  2022                                  62 years and over         20649.0
748  2022                                  65 years and over         16364.0
749  2022                                18 years and over 2        122079.0
750  2022                                             Male 2         55542.0
751  2022                                           Female 2         66537.0
752  2022                Sex ratio (males per 100 females) 2          4078.5
753  2022                                65 years and over 2         16364.0
754  2022                                             Male 3          6839.0
755  2022                                           Female 3          9525.0
756  2022                Sex ratio (males per 100 females) 3          3080.5
757  2022                                               RACE             NaN
758  2022                                 Total population 2        145022.0
759  2022                                           One race        127075.0
760  2022                                  Two or More Races         17947.0
761  2022                                         One race 2        127075.0
762  2022                                              White         50972.0
763  2022                          Black or African American         46139.0
764  2022                  American Indian and Alaska Native           758.0
765  2022                           Cherokee tribal grouping            29.0
766  2022                           Chippewa tribal grouping             0.0
767  2022                             Navajo tribal grouping            30.0
768  2022                              Sioux tribal grouping             0.0
769  2022                                              Asian         12374.0
770  2022                                       Asian Indian          3287.0
771  2022                                            Chinese          5922.0
772  2022                                           Filipino           381.0
773  2022                                           Japanese           187.0
774  2022                                             Korean           946.0
775  2022                                         Vietnamese           681.0
776  2022                                        Other Asian           970.0
777  2022         Native Hawaiian and Other Pacific Islander           218.0
778  2022                                           Chamorro             0.0
779  2022                                    Native Hawaiian           214.0
780  2022                                             Samoan             0.0
781  2022   Other Native Hawaiian and Other Pacific Islander             4.0
782  2022                                    Some Other Race         16614.0
783  2022                                Two or More Races 2         17947.0
784  2022                White and Black or African American          1658.0
785  2022        White and American Indian and Alaska Native           263.0
786  2022                                    White and Asian          1256.0
787  2022                          White and Some Other Race          4844.0
788  2022  Black or African American and American Indian ...           498.0
789  2022      Black or African American and Some Other Race          4987.0
790  2022  Race alone or in combination with one or more ...             NaN
791  2022                                 Total population 3        145022.0
792  2022                                            White 2         62668.0
793  2022                        Black or African American 2         57217.0
794  2022                American Indian and Alaska Native 2          2635.0
795  2022                                            Asian 2         14278.0
796  2022       Native Hawaiian and Other Pacific Islander 2           417.0
797  2022                                  Some Other Race 2         29632.0
798  2022                        HISPANIC OR LATINO AND RACE             NaN
799  2022                                 Total population 4        145022.0
800  2022                   Hispanic or Latino (of any race)         35841.0
801  2022                                            Mexican          1336.0
802  2022                                       Puerto Rican         11111.0
803  2022                                              Cuban           556.0
804  2022                           Other Hispanic or Latino         22838.0
805  2022                             Not Hispanic or Latino        109181.0
806  2022                                        White alone         43906.0
807  2022                    Black or African American alone         43051.0
808  2022            American Indian and Alaska Native alone           536.0
809  2022                                        Asian alone         12299.0
810  2022   Native Hawaiian and Other Pacific Islander alone           218.0
811  2022                              Some Other Race alone          1779.0
812  2022                                Two or More Races 3          7392.0
813  2022                Two races including Some Other Race          3020.0
814  2022  Two races excluding Some Other Race, and three...          4372.0
815  2022                                Total housing units         64457.0
816  2022                     CITIZEN, VOTING AGE POPULATION             NaN
817  2022                    Citizen, 18 and over population        105461.0
818  2022                                             Male 4         47772.0
819  2022                                           Female 4         57689.0

     percentage
724         0.0
725       100.0
726        46.2
727        53.8
728         2.8
729         4.3
730         4.1
731         4.6
732        10.9
733        14.1
734        19.7
735        11.1
736         9.6
737         5.3
738         5.1
739         6.9
740         3.2
741         1.2
742         1.0
743        15.8
744        86.1
745        84.2
746        72.3
747        14.2
748        11.3
749        84.2
750        38.3
751        45.9
752         2.8
753        11.3
754         4.7
755         6.6
756         2.1
757         0.0
758       100.0
759        87.6
760        12.4
761        87.6
762        35.1
763        31.8
764         0.5
765         0.0
766         0.0
767         0.0
768         0.0
769         8.5
770         2.3
771         4.1
772         0.3
773         0.1
774         0.7
775         0.5
776         0.7
777         0.2
778         0.0
779         0.1
780         0.0
781         0.0
782        11.5
783        12.4
784         1.1
785         0.2
786         0.9
787         3.3
788         0.3
789         3.4
790         0.0
791       100.0
792        43.2
793        39.5
794         1.8
795         9.8
796         0.3
797        20.4
798         0.0
799       100.0
800        24.7
801         0.9
802         7.7
803         0.4
804        15.7
805        75.3
806        30.3
807        29.7
808         0.4
809         8.5
810         0.2
811         1.2
812         5.1
813         2.1
814         3.0
815        44.4
816         0.0
817        72.7
818        32.9
819        39.8